---
---

@import "{{ site.theme }}";

body {
  color: #3d3d3d;
  padding: 0;
}


@media print, screen and (max-width: 960px) {
  section {
    border: 0;
  }
}

@media print, screen and (min-width: 960px) {
  section {
    width: 800px;
  }
}

.announcement {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 100%;
  background: #006937;
  color: white;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  height: 25px;
}

.announcement a { 
  color: #f79226; 
}

.wrapper {
  margin-top: 25px;
}
